.menu-horizontal a{
  color: black;
}

.menu-horizontal a.active{
  /* border-top: 2px solid rgb(121, 12, 116); */
 color: #4016a3;
  border-bottom: 2px solid #632EE3;
  border-radius: 10px;
  scale: 1.1;
  
}
